[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
"flake8" = "*"
isort = {version = "*", extras = ["pipfile"]}
green = "*"
djangorestframework = "*"
django = "*"

[requires]
python_version = "3.7"
